<footer class="footer">
	<small>
		<strong> <a href="#"> Web development app in Rails </a>> </strong>
		by
		<em> <a href="#"> Kenan Abdulkarim </a> </em> 
	</small> 

	<nav>
		<ul>
			<li> <%= link_to "About", "#" %> </li>
		</ul>
	</nav>

</footer>